* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100%;
}
th {
  text-shadow: 1px 1px 2px blue, 0 0 1em cyan, 0 0 0.2em black;
  color: white !important;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer,
.push {
  height: 142px; /* .push must be the same height as .footer */
}
.main-header,
.navbar,
.navbar > a ,
.navbar > span {
  background-color: black;
  color: white !important;
  padding: 5px;
}
.white {
  color: white !important;
}
.white:hover {
  color: white !important;
}

h1,
h2,
h3 {
  color: blue;
  text-align: center;
}
body {
  background-color: lightblue;
}
.display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 5px;
}
.control > * {
  padding-right: 5px;
  padding-left: 5px;
}
.button {
  justify-content: center;
}
label {
  font-weight: 700;
  flex: 1 0 10%;
  color: blue;
}
.article > label {
  flex: 1 0 10%;
  /* justify-content: flex-end; */
  vertical-align: bottom;
  margin-bottom: 0px;
}
ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-left: 40%;
}
input {
  flex: 1 0 10%;
}
.article > input {
  flex: 1 0 80%;
}
.productEdit,
.productNew {
  display: flex;
  flex-flow: column wrap;
}
.footer,
.wrapper,
.push {
  background-color: gray;
  line-height: 35px;
  max-height: 35px;
  height: 35px;
  padding-top: 30px;
  color: white !important;
}
.warning,.fail {
  color: red;
  text-align: center;
}
.success {
  color: green;
  text-align: center;
}
.active {
  color: yellow;
  font-weight: 700;
}
.blue {
  color: blue;
}
.inline {
  display: inline-block;
}
.menuItems {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.menuItems > a {
  /* display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center; */
  padding-left: 5px;
  padding-right: 5px;
}

.center {
  text-align: center;
}
#priceProduct::before {
  content: "$ ";
}
textarea {
  white-space: pre-line;
  width: 100%;
  height: 300px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid darkblue;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-top: 0px;
  margin-bottom: 20px;
}

.gridProducts {
  display: grid;
  grid-template-columns: 40% 10% 10%;
}

#tableProducts {
  border: 2px solid black;
  padding: 0px 5px;
  width: 70%;
  margin-bottom: 20px;
}
#tableProducts th {
  background-color: white;
  color: blue;
  font-weight: 700;
  border-bottom: 2px solid blue;
}
/* #tableProducts tbody tr{
  display: inline-block;
} */
#tableProducts tbody td {
  background-color: lightcyan;
  padding-left: 10px;
  padding-right: 10px;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

.authorFont {
  font-style: italic;
  font-size: 10px;
}
.authorFont:hover {
  font-size: 20px;
}

.productDetail {
  width: 50%;
}

.productEdit {
  width: 50%;
}
.productEdit > #price::before {
  content: "$ ";
}
.table-striped > tbody > tr:nth-child(odd) > td {
  background-color: cyan !important;
}

.table-hover tbody tr:hover td,
.reportRow:hover,
.reportSectionHeaderRow:hover {
  background-color: lightblue !important;
}

button,
.button {
  border-radius: 0.5em;
}

button {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
select::-ms-expand {
  display: none;
}
input:hover,
textarea:hover,
button:hover,
.button:hover,
select:hover {
  border-color: #888;
}
input:focus,
button:focus,
.button:focus,
textarea:focus,
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
  /* background-color: paleturquoise; */
  /* font-size: 14px; */
  font-weight: 500;
}
select option {
  font-weight: normal;
}
a:hover {
  /* font-size: 16px; */
  color: purple;
}

/* button, */
button {
  /* border: 1px solid black; */
  padding: 0.3em 1.4em 0.3em 0.5em;
  /* background-color: lightblue; */
  font-weight: 500;
  color: lightgray;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;

  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  font: 1em Georgia, serif;
}
button:hover {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em black;

  /* background-color: rgb(39, 39, 132) !important; */
  background-color: black !important;
  color: white !important;
  /* font-size: 16px;
  font-weight: 700; */
  font: 1em Georgia, serif;
}

h1 {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white !important;
  font: 2.5em Georgia, serif;
}
.white-text-with-blue-shadow,
h2 {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white !important;
  font: 1.5em Georgia, serif;
}
h3 {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white !important;
  font: 1.25em Georgia, serif;
}
.special0 {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue !important;

  font: 1em Georgia, serif;
}
.special {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue !important;

  color: white !important;
  font: 1em Georgia, serif;
}
