<h3>A Study on Express-Handlebars Template Engine</h3>
<div class='content'>
  {{!-- <ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/articles">Articles</a></li>
  </ul> --}}
  <p class='center'>Click on one of the menu items in the navbar above to go to either Products or Articles.</p>

</div>